/*
--- GENERAL STYLES
*/

canvas {
  display: block;
}

:root {
  --color-background: var(--color-background-dark);
  --color-background-dark: #101010;
  --color-gradient-active: unset;
  --color-gradient-00: #21d4fd, #b721ff;
  --color-gradient-01: #f9d423, #f83600;
  --color-gradient-02: #f9f047, #0fd850;
  --color-gradient-03: #00ecbc, #007adf;
  --color-gradient-04: #cc208e, #6713d2;
  --font-family-title: 'Righteous', cursive;
  --font-family-heading: 'Raleway', sans-serif;
  --font-family-body: 'Poppins', sans-serif;
}
* {
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;  /* 16px */
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--color-background);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: normal;
}
h1 { font-size: 4.5rem; }   /* 72px */
h2 { font-size: 3rem; }     /* 48px */
h3 { font-size: 2.25rem; }  /* 36px */
h4 { font-size: 1.5rem; }   /* 24px */
h5 { font-size: 1rem; }     /* 16px */
h6 { font-size: 0.75rem; }  /* 12px */
p { font-family: var(--font-family-body); }
header, footer {
  align-items: center;
  color: #fff;
  display: flex;
  height: 50vh;
  justify-content: center;
  padding: 0 2em;
}
button {
  border: none;
}

/*
--- GENERAL STYLING CLASSES
*/

.click-through {
  pointer-events: none;
}
.click-capture {
  pointer-events: auto;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.no-select {
  user-select: none;
}
.cursor-none { cursor: none; }
.cursor-pointer { cursor: pointer; }
.cursor-zoom-in { cursor: zoom-in; }

.container {
  position: relative;
}
.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
--- WIDGETS
*/

/* page load progress bar */
.pace {
  pointer-events: none;
  user-select: none;
}
.pace-inactive {
  display: initial;
}
.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, var(--color-gradient-active));
  z-index: 2000;
}

/*
--- MAIN PAGE ELEMENTS
*/

#chevron-container {
  animation: 1s ease-out 0.5s infinite alternate fadeInOut;
  bottom: 0;
  opacity: 0;
  position: fixed;
  width: 100%;
}

#button-portal {
  border-radius: 50%;
  height: 20px;
  opacity: 0;
  position: absolute;
  width: 20px;
  z-index: 100;
}

.title, .fin {
  font-family: var(--font-family-title);
}
.subtitle {
  padding-left: 0.5em;
  position: relative;
  top: 0.75em;
}

#folder-container {
  width: 100%;
}
#folder-container svg {
  height: 100%;
  width: 100%;
}

@keyframes fadeInOut { from { opacity: 0; } to { opacity: 1; } }



/* Boilerplate Defaults */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

